.product{
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}


.infobutton{
    width: 100%;
    height: 40px;
    border-color: #3c4030;
    color: #3c4030;
    cursor: pointer;
}

.basketbutton{
    width: 100%;
    border-color: #3c4030;
    color: #3c4030;
    cursor: pointer;
}

a .infolink{
    color: #876637;
    text-decoration: none;
}